/* This is the main css switch that control the display area*/
.scrollerblock_scroller {
  position: relative;
  height: 48px;
  width: 500px;
  display: inline-block;
  overflow: hidden;
  border: #cccccc 1px solid;
}

/* This css switch use to control the text format. */
.scrollerblock_scrollingtext {
  position: absolute;
  white-space: nowrap;
  font-family: 'Trebuchet MS',Arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* If use image, modify this css switch as well. */
#scrollerblock_imagecontainer {
  width: 500px;
  height: 80px;
}

/* If use image, modify this css switch as well. */
#scrollerblock_imagecontainer .scrollerblock_scrollingtext {
  width: 40px;
  height: 80px;
}

/* This is for image with bounce effect only. */
#scrollerblock_bounceeffect {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
